flask==2.3.2
flask-session==0.8.0
PyPDF2==3.0.1
requests==2.31.0
apscheduler==3.10.4
python-dotenv==1.0.0
gunicorn==21.2.0
Werkzeug==2.3.7
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-text-splitters==0.3.0
langchain-huggingface==0.1.0
faiss-cpu==1.8.0
sentence-transformers==3.0.0
numpy==1.26.4
